<h1>Count Results</h1>





<h3>There are {{ count }} words in your text !!</h3>

{{ fulltext }}

<h3>Word List and there Frequency:</h3>

{%for item, value in word_dict%}
{{item}} - {{value}}

<br \>

{%endfor%}