<h1>Word Counter</h1>

<p>Enter the TEXT</p>

<form action="{% url 'count' %}">
    <textarea name="fulltext" id="" cols="50" rows="10"></textarea>
    <br />
    <br />
    <input type="submit" name="" id="", value = 'Count!' />
</form>